@keyframes slideRight {
    from {margin-left: -25px;}
    to {margin-left: 0;}
    }

@keyframes slideUp {
    from {margin-bottom: -25px;}
    to {margin-bottom: 0;}
    }

@keyframes slideLeft {
    from {margin-right: -25px;}
    to {margin-right: 0;}
    }

@keyframes slideDown {
    from {margin-top: -25px;}
    to {margin-top: 0;}
    }
@keyframes death {
    from {margin-left: 0;}
    to {margin-left: 45px;}
    }
 
body {
    background-image: url(assets/sprites/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8494de;
}
figcaption {
    display: none;
}

.audio {
    position: absolute;
    width: 40px;
    right: 5%;
    top: 1%;
    cursor: pointer;
}
.audio img {
    width: 100%
}
.opening {
margin-top: 10%;
transition-duration: 1s;
}

.opening-animation {
    margin-top: -10%;
    opacity: 0;
}
    .opening__title {
        text-align: center;
    }
        .opening__title img {
            width: 400px;
        }
    .opening__menu {
        margin: 0 auto;
        margin-top: 150px;
        background-image: url(assets/sprites/chat.png);
        background-color: black;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        width: 520px;
        height: 134px;
        display: flex;
        padding: 40px 70px;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center;
    }
        .menu__fairy {
            margin: 0;
            margin-right: 20px;
        }
            .menu__fairy img {
                width: 40px;
            }
        .menu__start p{
            cursor: pointer;
            font-size: 24px;
            font-weight: 600;
            font-family: 'Biryani';
            color: white;
            -webkit-text-stroke: 1px blue;
        }

.mazeDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 1s;
}
.msgs {
    background-color: black;
    position: absolute;
    left: 50%;
    width: 320px;
    bottom: 5%;
    transform: translateX(-50%);
    background-image: url(assets/sprites/chat.png);
    padding: 20px;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    height: 82px;
    transition-duration: 1000ms;
}
    .msgs__text {
        font-size: 16px;
        font-weight: 600;
        font-family: 'Biryani';
        color: white;
        -webkit-text-stroke: 0.5px blue;
    }

.victory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 615px;
    height: 159.5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(assets/sprites/chat.png);
    background-color: black;
    padding: 25px;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
    .victory p {
        font-size: 16px;
        font-weight: 600;
        font-family: 'Biryani';
        color: white;
        -webkit-text-stroke: 0.5px blue;
    }
    .victory button {
        margin-right: 43px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 22px;
        font-weight: 600;
        font-family: 'Biryani';
        color: white;
        -webkit-text-stroke: 1px blue;
    }
.hidden {
    opacity: 0;
}

.none {
    display: none;
}

.line {
    display: flex;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.log {
    background-image: url(assets/sprites/structures/stump.png);
    background-size: contain;
}
.bush {
    background-image: url(assets/sprites/structures/bushes.png);
    background-size: contain;
}
.wall {
    background-image: url(assets/sprites/structures/stones.png);
    background-size: contain;
}
.road {
    background-image: url(assets/sprites/structures/road.png);
    background-position: top;
    background-size: contain;
}
.hole {
    background-image: url(assets/sprites/structures/hole.png);
    background-position: top;
    background-size: contain;
}

.player {
    background-image: url(assets/sprites/movement/link-Right.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 41px;
    height: 40px;
    animation-duration: 500ms;
}
.princess {
    background-image: url(assets/sprites/zelda.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 41px;
    height: 40px;
}
.ganon {
    position: absolute;
    background-image: url(assets/sprites/ganon.png);
    width: 70px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    animation-duration: 1250ms;
}
.ganon-death {
    height: 55px;
}
.triforce {
    background-image: url(assets/sprites/structures/triforce.png);
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: top;
}
.slideRight {
    animation-name: slideRight;
    }

.slideUp {
    animation-name: slideUp;
    }

.slideLeft {
    animation-name: slideLeft;
    }

.slideDown {
    animation-name: slideDown;
    }

.death {
    animation-name: death;
}

.link-triforce{
    height: 99px;
}